{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}"/>
    <title>Sprint 1 Home</title>
</head>
<body>
    {% block content %}{% endblock content %}
</body>
</html>