
body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans",
    "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

#openLine{
    border: double blue;
    text-align: center;
    width: 50%;
    margin: auto;
}

#box{
    width: 50%;
    margin: auto;
}

/*#Admin {*/
/*    width: 45%;*/
/*    float: left;*/
/*    margin: auto;*/
/*    border: 2px solid blue;*/
/*    padding: 15px;*/
/*}*/

.people {
    width: 45%;
    float: left;
    margin: auto;
    border: 2px solid blue;
    padding: 15px;
}

#clear{
    clear: both;
}

.layout {
    margin-top: 15px;
    width: 28%;
    height: 100px;
    float: left;
    padding: 15px;
    margin-bottom: 20px;
}

.textOrganizer {
    width: 80%;
    float: left;
    padding: 15px;
    text-align: center;
    background-color: yellowgreen;
    margin-bottom: 20px;
}

#playersLogs {
    margin-top: 150px;
    width: 100%;
    float: left;
    padding: 15px;
    text-align: center;
    background-color: yellowgreen;
    margin-bottom: 20px;
}

.logOrganizer {
    width: 100%;
    float: left;
    padding: 15px;
    text-align: center;
    background-color: yellowgreen;
    margin-bottom: 20px;
}

#commandLine {
    margin-bottom: 20px;
}

#inputText {
    width: 98%;
    padding: 5px;
    font-size: medium;
    height: 20px;
}

#commandLine input[type="text"]{
   text-align: center;
}

#commandLine input[type="submit"]{
    background-color: aquamarine;
    color: black;
}

#commandLine input[type="submit"]:hover{
    background-color: black;
    color: white;
}

#submitButton {
    width: 10%;
    margin: auto;
}

#submitText {
    width: 100px;
    margin-top: 10px;
    font-size: medium;
}

#gameLogs {
    margin-top: 50px;
    width: 23%;
    float: right;
}

#commandLogs {
    float: left;
    margin-top: 200px;
    width: 23%;
    font-weight: bold;
    background-color: yellowgreen;
    text-align: center;
}
