
{% extends "base.html" %}

{% block content %}
    <div id="commandLogs">
        <h2>Command Enter:</h2>
        <p>{{ Message }}</p>
    </div>
    <div id="gameLogs">
            <h2 id="playersLogs">Players Logs</h2>
            <div class="logOrganizer">
                {% for count in Table %}
                    {% if count.players.count < 2 %}
                        <p>
                            No logs
                        </p>
                    {% else %}
                        {% for chair in Table %}
                            {% for player in chair.players.all %}
                                {% if player.hand%}
                                    {{ player }}:
                                    {{ player.hand }}
{#                                    {{ player.hand_value}}#}
                                    <br>
                                {% endif %}
                           {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
    </div>
    <d><h1 id="openLine">Welcome to Reactive Card Game</h1></d>
    <div id="box">
        <div id="commandLine">
            <form action="" method="post">
                {% csrf_token %}
                <h2>Command:</h2>
                <label for="inputText"></label>
                <input id="inputText" type="text" name="command">
                <div id="submitButton"><input id="submitText" type="submit"></div>
            </form>
        </div>
        <div class="people">
            <h3>Admin</h3>
            {% for admin in Admin %}
                {% if admin.is_online%}
                   <ol><p>Admin: {{ admin }} is Online</p></ol>
                {% else %}
                    <ol><p>Admin {{ admin}} currently offline</p></ol>
                {% endif %}

            {% endfor %}
        </div>
        <div class="people">
            <h3>Players</h3>
            <ol>
                {% for player in Players %}
                    <li>{{ player.username }}</li>
                {% endfor %}
            </ol>
        </div>
        <div id="clear"></div>
            <div class="layout">
            {% for tableName in Table.all %}
                <h2 class="textOrganizer">{{ tableName}}</h2>
            {% endfor %}

            {% for table in Table%}
                <div class="textOrganizer">
                    {% if table.players.count < 2 %}
                        Dealer: Waiting for more players<br><br>
                    {% else %}
                        Dealer: start dealing<br><br>
                    {% endif %}
                    Players:
                    {% for chair in table.players.all%}
                        <br>{{ chair }}
                    {% endfor %}
                 </div>

            {% endfor %}
        </div>
        <div class="layout">
            <h2 class="textOrganizer">Players Activities</h2>
            <div class="textOrganizer">
                {% for table in Table %}
                    {% for player in table.players.all %}
                        {% if player.status != "FOLD " and player.status != "NONE"%}
                            {{ player }}:{{ player.status }}<br>
                            {% if player.chips == 0 %}
                                100<br>
                                {{ player.chips }}
                            {% endif %}
                               {{ player.amount_bet}}<br>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
        <div class="layout">
            <h2 class="textOrganizer">Game</h2>
            <div class="textOrganizer">
                {% for game in Game%}
                    {% if game.game_live == False %}
                        <p>
                        Winner:{{ game.winner }}<br>
{#                        Total pot: {{ game.pot }}#}
                     {% endif %}
                        Total pot: {{ game.pot }}
                        </p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}